html{
	padding: 0px;
	margin: 0px;
}
body{
	padding: 0px;
	margin: 0px;
}
.navbar{
	color: #fff;
	background-color:#4267b2;
	padding:0% 10%;
}
.navbar-brand{
	font-family: monospace;
	width: 50%;
	font-size: 38px;
	font-weight:700;
}
.navbar-right{
	float: right;
	padding-left:0%;
	
}
.usr{
	font-size: 12px;
	margin-left: 35%;
	margin-top:0%;
}
label{
	margin-top:10%;
	width: auto;
	
}
.pwd{
	font-size: 12px;
	margin-left: 70%;
	margin-top:-100px;
}
#usr{
	padding: 0;
	border-radius: 0;
	margin-left: 35%;
	
}
#pwd{
	padding: 0;	
	margin-left: 70%;
	border-radius: 0;
	margin-top:-80px;
	
}
.small{
	font-size: 10px;
    font-weight: 100;
	margin-top: -40px;
	margin-left: 70%;
}
.btn-small{
	background-color:#6666ff;
	color: #fff;
	font-size:10px;
	border-radius: 2px;
	padding:3px 8px;
	margin-top:-80px;
	margin-left:105%;
	
}
.container-fluid{
	background-color:#edf0f5;
	font-family: Helvetica;
	padding: 10% 10%;
}
.section-left{
	width: 50%;
}
h4{
	font-weight: 700;
	padding-top: -10%;
	padding-bottom: 5%;
}
b{
	font-size: 13px;
}
small{
	font-size: 13px;
}
.section-right{
	margin-left: 50%;
	margin-top: -35%;
}
h3{
	padding-bottom:0%;
}
.smtwo{
	margin-top: ;
	font-size: 12px;
}
.sel1{
	margin-top: -2%;
	padding-bottom: 30px;
	
}
#month{
	margin-top: 5%;
	margin-left: -13%;
	padding: 0;
	width: 16%;
	box-shadow:3px 1px 5px black;
	border-radius: 0;
}
#sel1{
	margin-top: 5%;
	padding: 0;
	border-radius: 0;
	box-shadow:3px 1px 5px black;
}
.right{
	margin-top: 5%;
	color: #4267b2;
	font-size: 10px;
}
.radio-inline{
	margin-top:2%;
}
p{
	font-size: 15px;
}
.btn-success{
	box-shadow: 1px 1px #a4e388;
	border-color: #3b6e22;
	border: 1px solid;
}
.form-footer{
	margin-top: 10%;
}